<script src="/static/js/main.min.js?v=1" async></script>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet" />
{{ page.includes }}
<script>
    window.addEventListener("load", () => { document.getElementById("copyright").append(new Date().getFullYear().toString()) })
</script>
<footer class="noselect"><p id="copyright" class="inline"><click url="/login" id="loginButton">Login</click>&nbsp;-&nbsp;&copy&nbsp;</p>&nbsp;mrparker</footer>